.body-content {
    align-items: normal !important;
}

.form {
    /* width: fit-content !important; */
}

.split-view .input {
    max-width: none !important;
    flex-shrink: 1 !important;
}

.split-view {
    height: 100%;
    /* align-items: safe center; */
    display: flex;
    flex-direction: row;
}

.split-view > .left-pane,
.split-view > .right-pane {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.5rem 0;
    mask-image: linear-gradient(
        to bottom, transparent 0,
        black 1rem,
        black calc(100% - 1rem),
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom, transparent 0,
        black 1rem,
        black calc(100% - 1rem),
        transparent 100%
    );
}

.split-view > .left-pane {
    border-right: 2px solid black;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    flex: 1;
}

.split-view > .right-pane {
    flex: 2;
    max-width: 60rem;
}

.spaced-items .spaced-items, .spaced-items .form {
    justify-content: unset !important;
    align-items: unset !important;
}